<nav>
  <mat-toolbar color="primary" class="flex justify-between">
    <div>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/contact">Contact</a>
      <a mat-button routerLink="/products">Products</a>
      <a mat-button routerLink="/twitter">Twitter</a>
      <a mat-button routerLink="/test">Test</a>
    </div>
    <div>
      <button mat-flat-button *ngIf="!(isLoggedIn$ | async)" (click)="login()">Login</button>
      <button mat-flat-button color="accent" *ngIf="(isLoggedIn$ | async)"  (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
</nav>
